<html>

<head>
    {% load static %}{% get_static_prefix as STATIC_URL %}
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>{% block title %}{% endblock %}</title>
  
    <!-- Included CSS Files -->
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/stylesheets/foundation.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/stylesheets/app.css">

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    
    <script src="{{ STATIC_URL }}foundation/javascripts/modernizr.foundation.js"></script>
    <script src="{{ STATIC_URL }}foundation/javascripts/jquery.min.js"></script>

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block header %}
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="row">
        <div class="eight columns">
            <h2><a href="{% url views.index_home %}"><img src="{{ STATIC_URL }}logo/toaster_small.png" height="20px"/></a></h2>
        </div>
        <div class="four columns">
            <br />
            {% if user.is_authenticated %}
                <ul class="breadcrumbs">
                    <li><a href="{% url views.past_toasts %}">Past Toasts</a></li>
                    <li><a href="{% url views.index_home %}">{{ user.username }}</a></li>
                    <li><a href="{% url views.logout %}">Logout</a></li>
                </ul>
            {% else %}
                <ul class="breadcrumbs">
                    <li><a href="{% url views.signup %}">Sign Up</a></li>
                    <li><a href="{% url views.login %}">Login</a></li>
                </ul>
            {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </div>
        {% block footer %}{% endblock %}
</body>
</html>