{% extends "base.html" %}

{% block title %}Text2Impress{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="four columns">
        
        <h4> Convert your notes: </h4>
        
            <style>
                #impressify_data_upload { margin-left: 23px;}
                #impressify_data_text { margin-left: 23px;}

                .progress { position:relative; width:100%; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
                .bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
                .percent { position:absolute; display:inline-block; top:3px; left:2%; }

            </style>
            <input type="radio" name="impressify_data" value="upload_file"><strong> Upload a text file</strong><br>
                <div id="impressify_data_upload">
                    <form action="/upload/txt/" method="post" enctype="multipart/form-data" id="fileupload">{% csrf_token %}
                        <p>File: <input type="file" name="file" id="id_file" accept="text/plain"></p>
                        <button id="file_upload_submission" >Upload</button>
                    </form>

                    <div class="progress" id="upload_status">
                        <div class="bar"></div>
                        <div class="percent">0%</div>
                    </div>

                    <div id="status"></div>

                </div>
            <br />
            <input type="radio" name="impressify_data" value="upload_text" checked><strong> Type out the text</strong><br>
                <div id="impressify_data_text">
                    <p>Input: <textarea id="impressify_text_input" rows="25" cols="40" name="input"># Here is my Title # 
_This will be underlined_, but this will not!
*This will be bolded*, but this will not!
~This will be italicized~, but this will not!

Time to make some bullet points:
    - Here's a point
    - Here's another point
    - Here's my last point
                    
Time to make a list:
    1. My first thing
    2. My second thing
    
And here is how you include urls:
{http://morning-robot-4490.herokuapp.com/} [Here it is!]

# And this creates a new slide! #
                    </textarea></p>
                </div>
                <br />

            <form action="/" method="post" id="impressify_form">{% csrf_token %}
                <input type="hidden" name="impressify_text_final" value="hello" id="impressify_text_final">
                <input type="submit" value="Toast" id="impressify_form_submission">
            </form>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
        <script type="text/javascript">

            // $("#impressify_data_text").hide();
            $("#impressify_data_upload").hide();
            $("#upload_status").hide();
            $("#file_upload_submission").hide()
            $("input[name=impressify_data]").val("upload_text");

            $("input[name=impressify_data]").click(function() {
                if ($(this).is(':checked')) { 
                    if($(this).val()=="upload_file"){
                        $("#impressify_data_text").hide();
                        $("#impressify_data_upload").show();
                    }
                    if($(this).val()=="upload_text"){
                        $("#impressify_data_upload").hide();
                        $("#impressify_data_text").show();
                    }
                    console.log($(this).val());
                } 
            });


            var bar = $('.bar');
            var percent = $('.percent');
            var file = $('#id_file');
            var file_contents = '';

            file.change(function() {
                $("#upload_status").show();
                $("#fileupload").submit();
            });

            $('#fileupload').ajaxForm({
                beforeSend: function() {
                    console.log("sending file");
                    $("#upload_status").show();
                    $("#status").empty();
                    var percentVal = '0%';
                    bar.width(percentVal);
                    percent.html(percentVal);
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    console.log(percentVal);
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal);
                   
                    percent.html(percentVal);
                    if(percentComplete == 100){
                        percent.html("Processing .txt file...");
                    }
                },
                complete: function(xhr) {
                    var uploadResponse = $.parseJSON(xhr.responseText);
                    if(uploadResponse['success']){
                        $("#status").html("Upload was successful!");
                        $("#upload_status").hide();
                        file_urls = uploadResponse['urls'];
                    } else {
                        $("#status").html("Upload was unsuccessful. Only upload .txt files.");
                    }
                    file_contents = uploadResponse['file_contents']
                    console.log(uploadResponse);
                }
            });

            $("#impressify_form_submission").click(function() {
                if ($("input[name=impressify_data]").is(':checked')) { 
                    if($("input[name=impressify_data]:checked").val()=="upload_file"){
                        $("#impressify_text_final").val(file_contents);
                    }
                    if($("input[name=impressify_data]:checked").val()=="upload_text"){
                        text_temp = $("#impressify_text_input").val();
                        $("#impressify_text_final").val(text_temp);
                    }
                }
            });            
            
        </script>
        <script>
            document.getElementById("impressify_text_input").onkeydown = function(e) {
              if (!e && event.keyCode == 9)
              {
                event.returnValue = false;
                insertAtCursor(document.getElementById("impressify_text_input"), "    ");
              }
              else if (e.keyCode == 9)
              {
                e.preventDefault();
                insertAtCursor(document.getElementById("impressify_text_input"), "    ");
              }
            };

            //http://alexking.org/blog/2003/06/02/inserting-at-the-cursor-using-javascript#comment-3817
            function insertAtCursor(myField, myValue) {
              //IE support
              if (document.selection) {
                var temp;
                myField.focus();
                sel = document.selection.createRange();
                temp = sel.text.length;
                sel.text = myValue;
                if (myValue.length == 0) {
                  sel.moveStart('character', myValue.length);
                  sel.moveEnd('character', myValue.length);
                } else {
                  sel.moveStart('character', -myValue.length + temp);
                }
                sel.select();
              }
              //MOZILLA/NETSCAPE support
              else if (myField.selectionStart || myField.selectionStart == '0') {
                var startPos = myField.selectionStart;
                var endPos = myField.selectionEnd;
                myField.value = myField.value.substring(0, startPos) + myValue + myField.value.substring(endPos, myField.value.length);
                myField.selectionStart = startPos + myValue.length;
                myField.selectionEnd = startPos + myValue.length;
              } else {
                myField.value += myValue;
              }
            }
        </script>

    </div>
    <div class="eight columns">
    <iframe src="{{ iframe_url }}" width="100%" height="70%"></iframe>
    <br />
    <br />
    Get your presentation here: <a href="{{ iframe_url }}">{{ iframe_url }}</a>
    </div>
</div>
{% endblock %}