{% extends "base.html" %}

{% block title %}Text2Impress{% endblock %}

{% block content %}
<div class="row">
    <div class="four columns">
        <h2> Convert your notes to powerpoints: </h2>
        <form action="/upload/txt/" method="post">{% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="Submit" />
    </div>

    <iframe src="/default_impressjs/" class="eight columns" height="70%"></iframe>
</div>
{% endblock %}

    
    <p>Choose to upload your files or link files that are already on the web. </p>

    <input type="radio" name="digitize_data" value="upload_file" />   Upload a zip file<br />
    <div id="digitize_data_upload_file">
        <p class="small">Supported formats: .zip <img src="/static/css/images/question_mark.png" class="title_tipsy" original-title="Include any files that the MobileWorkers will need to complete the task. For example, images to transcribe or categorize. ">
        </p>

        <form action="/file_uploads/quickpost/" method="post" enctype="multipart/form-data" id="fileupload">{% csrf_token %}
            <label for="id_file">File:</label><input type="file" name="file" id="fileupload_select" accept="application/zip"><br>
        </form>
        <p></p>
        <div class="progress" id="upload_status">
            <div class="bar"></div>
            <div class="percent">0%</div>
        </div>
        <p></p>
        <div id="status"></div>
        <p></p>

    </div>